/* src/App.css */
#root, .App {
  width: 100%;
  height: 100%;
}

form {
  margin-bottom: 20px;
}

input[type="number"] {
  margin-left: 10px;
}

.map-container {
  width: 100%;
  height: 80vh;
}
.leaflet-control {
  box-shadow: none;
}

.legend {
  background: white;
  padding: 10px;
  line-height: 18px;
  color: #555;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend .info {
  text-align: left;
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}